<main class="container">
  <section>
    <h3>Create Customer</h3>
    <form [formGroup]="createCustomerForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-6">
          <label class="form-label" for="firstname">Firstname</label>
          <input class="form-control" id="firstname" type="text" formControlName="firstname"/>
        </div>
        <div class="col-6">
          <label class="form-label" for="lastname">Lastname</label>
          <input class="form-control" id="lastname" type="text" formControlName="lastname"/>
        </div>
      </div>
      <div [formGroup]="emailForm">
        <div class="row">
          <label class="form-label" for="email-local">Email</label>
          <div class="col-6">
            <input class="form-control" id="email-local" type="text" formControlName="localPart"/>
          </div>
          <p class="col-auto fs-4 text-center">@</p>
          <div class="col">
            <input class="form-control" id="email-domain" type="text" formControlName="domain"/>
          </div>
        </div>
      </div>
      <div  [formGroup]="phoneNumberForm">
        <div class="row">
          <label class="form-label" for="countryCallingCode">Phone number (mobile)</label>
          <p class="col-auto fs-4 text-center">+</p>
          <div class="col-2">
            <input class="form-control" id="countryCallingCode" type="tel" maxlength="4"
                   formControlName="countryCallingCode"/>
          </div>
          <div class="col">
            <input class="form-control" id="phoneNumber" type="tel" formControlName="number"/>
          </div>
        </div>
      </div>
      <div [formGroup]="addressForm">
        <div class="row">
          <div class="col-10">
            <label class="form-label" for="street">Street</label>
            <input class="form-control" id="street" type="text" formControlName="streetName"/>
          </div>
          <div class="col-2">
            <label class="form-label" for="number">Number</label>
            <input class="form-control" id="number" type="text" formControlName="houseNumber"/>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <label class="form-label" for="postalCode">Postal code</label>
            <input class="form-control" id="postalCode" type="text" formControlName="postalCode"/>
          </div>
          <div class="col-8">
            <label class="form-label" for="country">Country</label>
            <select id="country" class="form-select" formControlName="country">
              <option [value]="''">Select country</option>
              <option *ngFor="let country of countries" [value] = "country">{{country}}</option>
            </select>
          </div>
        </div>
      </div>
      <div *ngIf="!formIsValid && triedToSubmitForm">
        <p class="text-danger fs-3 text-center">Please fill in all the fields above before submitting.</p>
      </div>
      <div class="row justify-content-end">
        <div class="col-7">
          <button class="col-12 btn btn-success" type="submit">CREATE</button>
        </div>
        <div class="col-auto">
          <button class="col-auto btn btn-danger" type="button" (click)="onCancel()">CANCEL</button>
        </div>
      </div>
    </form>
  </section>
</main>
