<header class="container-sm mb-4">
  <div class="row justify-content-between">
    <div class="row col-auto align-items-center">
      <img class="col-auto" src="../../../assets/images/order-icon.png" alt="order-icon">
      <p class="col-auto fs-1">&Ouml;RDER</p>
    </div>
    <nav role="navigation" class="col-auto navbar navbar-expand-lg navbar-light">
      <div class="navbar-nav">
        <a class="nav-link" [class.active]="activeRoute.includes('customers')" [routerLink]="'customers'">Customers</a>
        <a class="nav-link" href='#'>Nav #2</a>
        <a class="nav-link" href='#'>Nav #3</a>
        <a class="nav-link" href='#'>Nav #4</a>
      </div>
    </nav>
  </div>
</header>
